@charset "UTF-8";

/* ベースのスタイル
----------------------------------------------------- */
body {
  font-family: "Noto Serif JP", serif;
  line-height: 1.75;
  font-weight: 700;
  color: #333333
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  width: 100%;
}

.container {
  max-width: 67.5rem;
  margin: auto;
  padding: 2em;
}

.section-title {
  font-size: 2rem;
  font-style: italic;
  color: brown;
  margin-bottom: 2rem;
  text-align: center;
  border-bottom: 3px solid;
}


/*ヘッダー
--------------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  padding: 1rem 3rem 0.5rem 1rem;
  color: brown;
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: #f8f4e6;
}

@media(min-width:768px) {
  .header {
    height: 7rem;
    padding-left: 4rem;
    padding-right: 7rem;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  width: 3rem;
  overflow: hidden;
  height: 3rem;
  justify-content: center;
}

@media (min-width:768px) {
  .header-logo {
    width: 6rem;
    height: 6rem;
  }
}

.header-logo img {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: auto;
  display: block;
}


.hamburger-button {
  font-size: 2rem;
}

@media(min-width:768px) {
  .hamburger-button {
    display: none;
  }
}



/* ハンバーガーメニュー、ヘッダーナビ
----------------------------------------------*/
@media (max-width: 767px) {
  .hamburger-menu {
    position: fixed;
    top: 4.6484rem;
    left: 4.4375rem;
    width: 61vw;
    height: auto;
    margin: auto;
    background-color: rgba(248, 244, 230, 0.7);
    border-radius: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: opacity .7s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 9990;
  }
}

@media (max-width: 767px) {
  .hamburger-menu .button {
    margin-left: 2.9063rem;
    padding: 0.8594rem 4.7234rem 1.1406rem 4.5938rem;
    font-size: 1.25rem;
    line-height: 1;
    letter-spacing: -0.07em;
  }
}

@media (max-width: 767px) {
  .hamburger-menu .button-icon {
    right: 0.875rem;
  }
}

/* アクティブ状態*/
.hamburger-menu-active {
  opacity: 1;
  visibility: visible;
}

.hamburger-menu-list-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  line-height: 2
}

@media(min-width:768px) {
  .header-nav-list-group {
    flex-direction: row;
    list-style: none;
    gap: 4rem;
    white-space: nowrap;
  }
}

.hamburger-menu a {
  color: brown;
}

.hamburger-menu a:hover {
  color: aliceblue;
}

@media (min-width:768px) {
  .header-nav-list-group a {
    font-size: 1.5rem;
  }
}

/*カバー
----------------------------------*/
.cover {
  position: relative;
  padding-top: 4.2578rem;
}

@media (min-width:768px) {
  .cover {
    padding-top: 6.2578rem;
  }
}

.cover-pickup {
  position: absolute;
  top: 4rem;
  left: 16rem;
  color: #fff;
  writing-mode: vertical-rl;
}

@media(min-width:768px) {
  .cover-pickup {
    top: 4rem;
    left: 57rem;
    font-size: 2rem;
    letter-spacing: 8px;
  }
}

@media(min-width:768px) {
  .cover-slick-item img {
    height: 86vh;
    width: 83%;
    margin: auto;
    object-fit: cover;
    /*枠いっぱいに収まるように拡大してトリミングしてくれる*/
  }
}

.slick-slide {
  transition: opacity 2.2s cubic-bezier(0.45, 0, 0.55, 1) !important;
}


/*コンセプト
--------------------------------*/
@media(min-width:768px) {
  .concept {
    margin-bottom: 1rem;
  }
}

@media(min-width:768px) {
  .concept-text {
    font-size: 1.7rem;
    line-height: 2;
  }
}

/*プロフィール
--------------------------------*/
@media(min-width:768px) {
  .profile {
    margin-bottom: 1rem;
  }
}

.profile-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media(min-width:768px) {
  .profile-item {
    flex-direction: row;
  }
}

.profile-item-image {
  max-width: 67.5rem;
  margin: auto;
  width: 100%;
}

@media(min-width:768px) {
  .profile-item-image {
    width: 50%;
  }
}

.profile-item-text {
  line-height: 2;

}

@media(min-width:768px) {
  .profile-item-text {
    font-size: 1.5rem;
  }
}


/*サービス
----------------------------------*/
@media(min-width:768px) {
  .service-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }
}

.service-group {
  padding: 1rem 1rem 1rem 1rem;
  border: 1px solid brown;
  border-radius: 2rem;
  margin-bottom: 1rem;
  background-color: #f8f4e6
}

@media (min-width:768px) {
  .service-group {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: start;
    padding-top: 2rem;
  }
}


.service-group-text {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-family: "Noto Sans JP", serif;
  text-align: center;
}

@media(min-width:768px) {
  .service-group-text {
    font-size: 2rem;
    text-align: center;

  }
}

.service-group-list {
  list-style-type: disc;
  padding-left: 1.5rem;
}

@media(min-width:768px) {
  .service-group-list {
    font-size: 1.5rem;
    line-height: 3;
  }
}

.process-group {
  padding: 1rem 1rem 1rem 1rem;
  border: 1px solid brown;
  border-radius: 2rem;
  margin-bottom: 1rem;
  background-color: #f8f4e6;
}

@media (min-width:768px) {
  .process-group {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: start;
    padding-top: 2rem;
  }
}

.process-group-text {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-family: "Noto Sans JP", serif;
  text-align: center;

}

@media(min-width:768px) {
  .process-group-text {
    font-size: 2rem;
    text-align: center;
  }
}

.process-group-list {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

@media(min-width:768px) {
  .process-group-list {
    font-size: 1.5rem;
    line-height: 3;
  }
}

/*お問い合わせ
-----------------------------------*/
.contact-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media(min-width:768px) {
  .contact-group {
    font-size: 1.5rem;
    padding-left: 18rem;
  }
}

.contact-group a {
  color: #333333;
  padding-left: 1rem;
  font-size: 1.2rem;
  line-height: 1;
  color: brown;
}

@media(min-width:768px) {
  .contact-group a {
    font-size: 1.5rem;
  }
}



/*フッター
-----------------------------------*/
.footer {
  background-color: gray;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-copyright {
  font-size: 0.5rem;
}

@media (min-width:768px) {
  .footer-copyright {
    font-size: 0.7rem;
  }
}


@media (min-width:768px) {
  .footer-name {
    font-size: 1.5rem;
  }
}

.footer-name-sab {
  font-size: 0.7rem;
  font-weight: 400;
}

@media (min-width:768px) {
  .footer-name-sab {
    font-size: 1rem;
    padding-left: 1rem;
  }
}


.footer a {
  color: #333333;
  font-weight: 400;
}